.form_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form_field,
.form_field:focus-visible {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  border: 1px solid #37adb2;
  transition: border 0.3s ease;
  border-radius: 5px;
}

.form_field .tag {
  border: 1px solid #37adb2;
}
