.todoItem {
  width: 100%;
  border: 1px solid #36a9ae;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.left {
  width: 68%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.right {
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.todoTxt {
  margin-top: 5px;
  width: 100%;
  font-weight: 700;
  text-align: left;
}

.todoItem .addDate {
  font-size: smaller;
  text-align: left;
}

.tag {
  margin-top: 5px;
  font-size: smaller;
  text-align: left;
}
.tag > button {
  margin: 5px;
  border: 1px solid #21c1c1;
  border-radius: 2px;
  color: #737c7c;
  cursor: pointer;
}
